@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:900&display=swap');

:root {
  --color-primary: #002626;
  --color-secondary: #F0F7EE;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: 'Helvetica', sans-serif;
  --font-heading: 'Merriweather', serif;
  --font-size: 1.125rem;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1 {
  margin-bottom: calc(var(--space) * 3);
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) + 6vmin);
  line-height: calc(var(--line-height) / 1.25);
}

body {
  font-family: 'Helvetica', 'Roboto', sans-serif;
}

header {
  height: 100px;
  width: 100%;
  z-index: 10;
  @include max-screen(992px) {
    font-size: 14px;
  }

  .container {
    height: 100%;
    //border-bottom: 1px solid rgba(150, 195, 78, 1);
  }

  .logo {

    //height: 75px;
    //width: 75px;
    img {
      height: 155px;
      width: 155px;
      bottom: -30px;
      left: -40px;
      @include max-screen(576px) {
        height: 55px;
        width: 55px;
        top: 0px;
        left: 0px;
      }
    }
  }

  .mobile-phone {
    display: none;
    text-decoration: none;
    color: rgba(150, 195, 78, 1);
    font-size: 16px;
    font-weight: 100;
    position: absolute;
    margin: auto;
    top: 35%;
    left: 25%;
    @include max-screen(576px) {
      display: inline-block;
    }
  }

  .header-body {
    height: 100px;
    border-bottom: 2px solid rgba(150, 195, 78, 1);
    @include max-screen(992px) {
      display: none;
    }
  }

  .header-right {
    height: 100px;
    border-bottom: 2px solid rgba(150, 195, 78, 1);
    position: relative;
    @include max-screen(576px) {
      border-bottom: 1px solid rgba(150, 195, 78, 1);
      height: 56px;
    }


    div {
      display: inline-block;
      margin-top: 48px;
      @include max-screen(576px) {
        display: none;
      }

      a {
        text-decoration: none;
        color: white;
        @include max-screen(992px) {
          font-size: 14px;
        }
        @include max-screen(576px) {
          display: none;
        }
      }
    }
  }

  .lang-change {
    position: absolute;
    right: 0;
    opacity: 0;
  }

  .contact-button-top {
    margin-left: 15%;

    .contact-button-top-circle {
      position: absolute;
      height: 60px;
      width: 60px;
      background-color: rgba(150, 195, 78, 1);
      margin: 0;
      top: 30px;
      left: 14%;
      border-radius: 50%;
    }

    a {
      position: absolute;
    }
  }

  .navbar {
    margin-top: 30px;
    height: 40px;
    list-style: none;

    a {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }


  }

}

.sec-main {
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Helvetica', sans-serif;

  h1 {
    font-family: 'Helvetica', 'Roboto', sans-serif;
  }

  .back-main {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 8%;
    background-image: url("../images/zeekr-001-main.webp");
    background-size: cover;
    @include max-screen(576px) {
      background-image: url("../images/mobile-back.jpg");
      left: 0;
      background-position: center;
    }
  }

  .dark-part-back {
    position: absolute;
    height: 100vh;
    width: 33%;
    background-color: rgba(31, 31, 31, 1);
    @include max-screen(576px) {
      height: 25vh;
      width: 100%;
    }
  }

  .tint-main {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(111, 111, 111, 0.2);
  }

  .motto {
    position: absolute;
    top: 28%;
    color: white;
    @include max-screen(576px) {
      font-size: 36px;
      top: 10%;
    }
  }

  .arrow-mobile {
    display: none;
    @include max-screen(576px) {
      display: inline-block;
      position: absolute;
      z-index: 14;
      bottom: 50px;
      left: 47%;
    }
  }

  .main-button {
    font-size: 30px;
    position: absolute;
    text-decoration: none;
    color: white;
    top: 38%;
    left: 30%;
    display: inline-block;
    @include max-screen(576px) {
      font-size: 14px;
    }
  }

  .main-button-green {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(150, 195, 78, 1);
    position: absolute;
    top: 65%;
    @include max-screen(576px) {
      height: 102px;
      width: 102px;
      top: 28%;
      left: 56%;
    }
  }
}

.sec-carousel {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: rgba(189, 189, 189, 1);
  @include max-screen(576px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


.car-block {
  transition-duration: 4s;
  background-color: rgba(47, 47, 47, 1);
  background-size: cover;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  .carnames {
    font-size: 32px;
    position: absolute;
    color: white;
    top: 3%;
    left: 10%;
    z-index: 24;
  }

  .greenback {
    position: absolute;
    background-image: url("../images/green_back-2.svg");
    background-size: cover;
    height: 70%;
    width: 100%;
    border-bottom: 2px solid rgba(150, 195, 78, 1);
  }

  p {
    margin: 0;
  }

  .owl-dots {
    display: none;
  }

  .carplace {
    min-height: 200px;
    position: relative;
    //padding-left: 3%;
    //padding-right: 3%;

    //.carnames {
    //  font-size: 32px;
    //  position: absolute;
    //  color: white;
    //  top: 3%;
    //  left: 12%;
    //  z-index: 24;
    //}

    img {
      position: absolute;
      bottom: 8%;
      width: 100%;
    }
  }

  .item {
    .carinfo {
      margin-top: 5px;
      margin-left: 5px;
      color: white;
    }

    .cardetails {
      font-size: 12px;
    }
  }

  .owl-carousel {
    button {
      img {
        height: 100%;
        max-height: 25px;
      }
    }

    .owl-nav {
      .owl-prev {
        position: absolute;
        top: 23%;
        left: 0;
      }

      .owl-next {
        position: absolute;
        top: 23%;
        right: 0;
      }
    }
  }
}

.tight-container {
  max-width: 84%;
  margin: auto;
}

.sec-how-to-buy {
  background-color: rgba(63, 63, 63, 1);
  padding-top: 80px;
  padding-bottom: 0px;
  color: white;
  overflow: hidden;
  @include max-screen(1199px) {
    .tight-container {
      max-width: 100%;
    }
  }

  .htb-title {
    margin-bottom: 40px;
  }

  .htb-list {
    margin-bottom: 0;
  }

  .htb-item {
    list-style: none;
    position: relative;
    line-height: 1;
    margin-bottom: 10px;
    height: 60px;

    .htb-item-num {
      font-size: 60px;
      position: relative;
    }

    .htb-item-green {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: rgba(150, 195, 78, 1);
      position: absolute;
      bottom: 0;
    }

    .htb-item-info {
      padding-left: 30px;
      font-size: 18px;
      display: inline-block;
      width: 80%;
      line-height: 20px;

      @include max-screen(575px) {
        font-size: 16px;
        font-weight: 100;
      }
    }

    .htb-carimg-cont {
      position: absolute;
      left: -220px;
      top: -15px;
      z-index: 0;
      @include max-screen(991px) {
        left: 120px;
        top: 30px;
      }
      @include max-screen(575px) {
        left: 10px;
        top: 33px;
      }

      img {
        max-width: 1180px;
        z-index: 0;
        @include max-screen(991px) {
          max-width: 700px;
        }
        @include max-screen(767px) {
          max-width: 600px;
        }
      }
    }
  }

  .last-item-8 {
    margin-bottom: 250px;
    @include max-screen(767px) {
      margin-bottom: 280px;
    }
  }

  .htb-last-text {
    margin-bottom: 160px;
    z-index: 1;
    @include max-screen(767px) {
      margin-bottom: 40px;
    }
  }

  .line-sec {
    width: 100%;
  }
}

.sec-faq {
  padding-top: 70px;
  background-color: rgba(63, 63, 63, 1);
  padding-bottom: 50px;
  color: white;
  overflow: hidden;
  @include max-screen(767px) {
    padding-bottom: 30px;
  }

  .tight-container-faq {
    width: 84%;
    margin: auto;
    @include max-screen(767px) {
        width: 100%;
    }
  }



  .accordion-flush {
    .accordion-item {
      background-color: rgba(63, 63, 63, 1);
      border-bottom: 2px solid white;
    }

    .accordion-button {
      background-color: rgba(63, 63, 63, 1);
      color: white;
      border: none;
      box-shadow: none;
      font-size: 18px;
      @include max-screen(767px) {
        font-size: 16px;
      }

      :focus {
        border: none;
      }

    }

    .accordion-body {
      font-size: 16px;
      font-weight: 100;
      @include max-screen(767px) {
        font-size: 14px;
      }
    }
  }

  .sec-plus-title {
    margin-top: 175px;
    @include max-screen(767px) {
      margin-top: 105px;
    }
  }
}

.sec-plus {
  background-color: rgba(63, 63, 63, 1);
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
  overflow: hidden;
  position: relative;

  .plus-list {
    list-style: none;
    @include max-screen(767px) {
      margin-top: 300px;
    }
    @include max-screen(575px) {
      margin-top: 220px;
    }
  }

  .plus-item {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 100;
    @include max-screen(767px) {
      font-size: 14px;
    }
  }

  .plus-green {
    height: 20px;
    width: 20px;
    background-color: rgba(150, 195, 78, 1);
    display: inline-block;
    border-radius: 50%;
    margin: auto;
    --bs-gutter-x: 0;
  }

  .plus-back-img {
    background-image: url("../images/zeekr-salon.jpg");
    position: absolute;
    height: 83%;
    width: 83%;
    display: block;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 40px;
    left: -42%;
    top: 5%;
    @include max-screen(767px) {
      border-radius: 0;
      height: 33%;
      width: 100%;
      left: 0;
      top: 0;
      background-position: center;
    }
    @include max-screen(575px) {
      height: 20%;
    }
  }
}

//.head-phones{
//  line-height: 1;
//}
.sec-contacts {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(63, 63, 63, 1);
  color: white;
.cont-item{
  margin-bottom: 20px;
  @include max-screen(575px) {
    margin-left: 38px;
  }
}
  .line-contacts {
    width: 100%;
    top: 30%;
  }

  .sec-contacts-title {
    position: center;
    text-align: center;
    margin-bottom: 100px;
  }

  .cont-img {
    background: rgba(150, 195, 78, 0.4);
    filter: blur(15px);
    height: 50px;
    width: 50px;
    top: 0%;

  }

  img {
    padding: 0;
    max-width: 50px;
  }

  .cont-phone {
    font-size: 20px;
    line-height: 50px;
    a{
      text-decoration: none;
      color: white;
      display: block;
      line-height: 1.5;
    }
  }

  .cont-email {
    //font-size: 20px;
    line-height: 50px;
  }

  .cont-telega {
    line-height: 50px;

    a {
      text-decoration: none;
      color: white;
    }
  }

}


footer {
  border-top: 2px solid rgba(150, 195, 78, 1);
  padding-bottom: 30px;
  background-color: rgba(63, 63, 63, 1);
}


//________________

.menu-mobile {
  display: none;
  @include max-screen(992px) {
    display: block;
  }
}

//@import url('https://fonts.googleapis.com/css?family=Merriweather:900&display=swap');
//
//:root {
//  --color-primary: #002626;
//  --color-secondary: #F0F7EE;
//  --duration: 1s;
//  --nav-duration: calc(var(--duration) / 4);
//  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
//  --space: 1rem;
//  --font-primary: 'Helvetica', sans-serif;
//  --font-heading: 'Merriweather', serif;
//  --font-size: 1.125rem;
//  --line-height: 1.5;
//}
//
//* {
//  box-sizing: border-box;
//}
//
//body {
//  font-family: var(--font-primary);
//  font-size: var(--font-size);
//  line-height: var(--line-height);
//}
//
//h1 {
//  margin-bottom: calc(var(--space) * 3);
//  font-family: var(--font-heading);
//  font-size: calc(var(--font-size) + 6vmin);
//  line-height: calc(var(--line-height) / 1.25);
//}

.main-navigation-toggle {
  position: fixed;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;

  + label {
    position: fixed;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 2);
    cursor: pointer;
    z-index: 2;
    @include max-screen(576px) {
      top: calc(var(--space) * 1);
      right: calc(var(--space) * 1);
    }
  }
}

.icon--menu-toggle {
  --size: calc(1rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
}

.icon-group {
  transform: translateX(0);
  transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: var(--color-primary);
}

.icon--close {
  stroke: var(--color-secondary);
  transform: translateX(-100%);
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform-origin: 0 50%;
    z-index: -1;
  }

  ul {
    font-size: 6vmin;
    font-family: var(--font-heading);
    width: 100%;
  }

  li {
    --border-size: 1vmin;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--border-size);
      background-color: var(--color-secondary);
      transform-origin: 0 50%;
      transform: translateX(-100%) skew(15deg);
    }
  }

  a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-secondary);
    line-height: 1;
    text-decoration: none;
    user-select: none;
    padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
    transform: translateY(100%);
  }

  .social-icons {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: start;

  }

}

.main-content {
  //margin: 6rem auto;
  //max-width: 70ch;
  //padding: 0 calc(var(--space) * 2);
  transform: translateX(0);
  transition: transform calc(var(--nav-duration) * 2) var(--ease);

  > * + * {
    margin-top: calc(var(--space) * var(--line-height));
  }
}

.main-navigation-toggle:checked {
  ~ label .icon--menu-toggle {
    .icon-group {
      transform: translateX(100%);
    }
  }

  ~ .main-content {
    transform: translateX(10%);
  }

  ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);

    &:after {
      animation: nav-bg var(--nav-duration) var(--ease) forwards;
    }

    li:after {
      animation: nav-line var(--duration) var(--ease) forwards;
    }

    a {
      animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
    }

    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        &:after, a {
          animation-delay: calc((var(--duration) / 2) * #{$i} * 0.125);
        }
      }
    }
  }
}

@keyframes nav-bg {
  from {
    transform: translateX(-100%) skewX(-15deg)
  }
  to {
    transform: translateX(0)
  }
}

@keyframes nav-line {
  0% {
    transform: scaleX(0);
    transform-origin: 0 50%;
  }
  35% {
    transform: scaleX(1.001);
    transform-origin: 0 50%;
  }
  65% {
    transform: scaleX(1.001);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}

@keyframes link-appear {
  0%, 25% {
    transform: translateY(100%);
  }
  50%, 100% {
    transform: translateY(0);
  }
}
