body{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
.tempback{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    background-image: url("../images/frametemp.jpeg");
    background-size: cover;

}
.numbertemp{
    padding: 60px 0 0 190px;
    font-size: 40px;
    opacity: 0;
}